In [1]:
import sys

In [2]:
sys.version

'3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]'

In [3]:
import platform

In [5]:
platform.python_version()

'3.7.4'

In [6]:
x = 10

In [7]:
x

10

In [8]:
type(x)

int

In [9]:
x = "hello"

In [10]:
x

'hello'

In [11]:
type(x)

str

In [12]:
x = 3.5

In [13]:
type(x)

float

In [14]:
y = 10

In [15]:
y

10

In [16]:
z = "welcome"

In [17]:
z

'welcome'

In [20]:
x
y
z
type(x)
type(y)
type(z)

str

In [21]:
x

3.5

In [22]:
y

10

In [23]:
z

'welcome'

In [26]:
print(x)
print(y)
print(z)

3.5
10
welcome

In [27]:
a

NameError: name 'a' is not defined

In [28]:
a = 3.99

In [29]:
a

3.99

In [30]:
a,b = 20,30

In [31]:
a + b

50

In [32]:
a * b

600

In [33]:
a/b

0.6666666666666666

In [34]:
a%b

20

In [35]:
x = "welcome"

In [36]:
y = 'friends'

In [37]:
z = """airport"""

In [38]:
x

'welcome'

In [39]:
y

'friends'

In [40]:
z

'airport'

In [41]:
"""welcome"""

'welcome'

In [42]:
#test this

In [43]:
num_x = None

In [44]:
num_x

In [45]:
num_x is None

True

In [46]:
num_y = 10

In [47]:
num_y is None

False

In [48]:
type(num_x)

NoneType

In [49]:
s = 1000

In [50]:
type(s)

int

In [51]:
str(s)

'1000'

In [52]:
type(s)

int

In [53]:
t = "welcome"

In [54]:
type(t)

str

In [55]:
int(t)

ValueError: invalid literal for int() with base 10: 'welcome'

In [56]:
t = "1000"

In [57]:
type(t)

str

In [58]:
test1 = True

In [59]:
type(test1)

bool

In [60]:
test1 is False

False

In [61]:
first_list = [10,20,30,40,50]

In [62]:
type(first_list)

list

In [63]:
first_list[0]

10

In [64]:
first_list[1]

20

In [65]:
first_list[0] = 100

In [66]:
first_list

[100, 20, 30, 40, 50]

In [67]:
len(first_list)

5

In [68]:
first_list += 100

TypeError: 'int' object is not iterable

In [69]:
first_list.append(1000)

In [70]:
first_list

[100, 20, 30, 40, 50, 1000]

In [71]:
first_list.append(1000)

In [72]:
first_list

[100, 20, 30, 40, 50, 1000, 1000]

In [73]:
first_list.insert(0,"welcome to my list")

In [74]:
first_list

['welcome to my list', 100, 20, 30, 40, 50, 1000, 1000]

In [76]:
first_list.remove('welcome to my list')

In [77]:
first_list

[100, 20, 30, 40, 50, 1000, 1000]

In [78]:
first_list.pop(0)

100

In [79]:
first_list

[20, 30, 40, 50, 1000, 1000]

In [83]:
first_list

[20, 30, 40, 50, 1000]

In [84]:
first_list.pop(1)

30

In [85]:
first_list

[20, 40, 50, 1000]

In [86]:
first_list.append(1000)

In [87]:
first_list

[20, 40, 50, 1000, 1000]

In [88]:
first_list.remove(1000)

In [89]:
first_list

[20, 40, 50, 1000]

In [90]:
first_list.remove(1000)

In [91]:
first_list.extend(1000)

TypeError: 'int' object is not iterable

In [92]:
first_list

[20, 40, 50]

In [93]:
first_list

[20, 40, 50]

In [94]:
first_list.append(100)

In [95]:
first_list

[20, 40, 50, 100]

In [98]:
newl = [33,44,44,55]

In [99]:
first_list.extend(newl)

In [100]:
first_list

[20, 40, 50, 100, 33, 44, 44, 55]

In [101]:
first_list.append(newl)

In [102]:
first_list

[20, 40, 50, 100, 33, 44, 44, 55, [33, 44, 44, 55]]

In [103]:
len(first_list)

9

In [107]:
first_list

[20, 40, 50, 100, 33, 44, 44, 55, [33, 44, 44, 55]]

In [111]:
type(first_list[7])

int

In [112]:
type(first_list[8])

list

In [113]:
first_list[8][0]

33

In [114]:
type(first_list[8][0])

int

In [115]:
len(first_list)

9

In [116]:
first_list.extend([1000])

In [117]:
first_list

[20, 40, 50, 100, 33, 44, 44, 55, [33, 44, 44, 55], 1000]

In [119]:
cust1 = str(input("enter a word:"))
print(cust1)

enter a word:peter
peter

In [120]:
first_list

[20, 40, 50, 100, 33, 44, 44, 55, [33, 44, 44, 55], 1000]

In [121]:
first_list.index(20)

0

In [122]:
first_list.index(44)

5

In [125]:
x = int(input("enter a num:"))

enter a num:23

In [126]:
first_list

[20, 40, 50, 100, 33, 44, 44, 55, [33, 44, 44, 55], 1000]

In [130]:
for i in first_list:
    print(first_list.index(i),i)

0 20
1 40
2 50
3 100
4 33
5 44
5 44
7 55
8 [33, 44, 44, 55]
9 1000

In [131]:
temp_list = first_list

In [132]:
temp_list

[20, 40, 50, 100, 33, 44, 44, 55, [33, 44, 44, 55], 1000]

In [133]:
temp_list.clear()

In [134]:
temp_list

[]

In [135]:
print(50 in first_list)

False

In [136]:
first_list

[]

In [137]:
first_list

[]

In [138]:
temp_list

[]

In [139]:
newl = [10,100,1000,30,40,5.5,"welcome"]

In [140]:
newl

[10, 100, 1000, 30, 40, 5.5, 'welcome']

In [141]:
for i in newl:
    print(type(i),newl.index(i),i)

<class 'int'> 0 10
<class 'int'> 1 100
<class 'int'> 2 1000
<class 'int'> 3 30
<class 'int'> 4 40
<class 'float'> 5 5.5
<class 'str'> 6 welcome

In [142]:
latestl = newl.copy()

In [143]:
latestl

[10, 100, 1000, 30, 40, 5.5, 'welcome']

In [144]:
newl

[10, 100, 1000, 30, 40, 5.5, 'welcome']

In [146]:
newl.clear()

In [147]:
newl

[]

In [148]:
latestl

[10, 100, 1000, 30, 40, 5.5, 'welcome']

In [149]:
latestl.count(100)

1

In [151]:
latestl

[5.5, 10, 30, 40, 100, 1000, 'welcome']

In [152]:
latestl.remove("welcome")

In [153]:
latestl

[5.5, 10, 30, 40, 100, 1000]

In [154]:
latestl.sort()

In [155]:
latestl

[5.5, 10, 30, 40, 100, 1000]

In [156]:
latestl.reverse()

In [157]:
latestl

[1000, 100, 40, 30, 10, 5.5]

In [158]:
newl = [4, None, 'foot'] + [7, 8, (2, 3)]

In [159]:
newl

[4, None, 'foot', 7, 8, (2, 3)]

In [160]:
tlist = [latestl,newl]

In [161]:
tlist

[[1000, 100, 40, 30, 10, 5.5], [4, None, 'foot', 7, 8, (2, 3)]]

In [162]:
tlist[0]

[1000, 100, 40, 30, 10, 5.5]

In [163]:
words = ["welcome","welcome","winter","summer","winter","autumn","spring","welcome","cool","hot"]

In [164]:
type(words)

list

In [165]:
len(words)

10

In [166]:
words.count("winter")

2

In [167]:
test = set(words)

In [168]:
test

{'autumn', 'cool', 'hot', 'spring', 'summer', 'welcome', 'winter'}

In [170]:
words

['welcome',
 'welcome',
 'winter',
 'summer',
 'winter',
 'autumn',
 'spring',
 'welcome',
 'cool',
 'hot']

In [171]:
words[0:]

['welcome',
 'welcome',
 'winter',
 'summer',
 'winter',
 'autumn',
 'spring',
 'welcome',
 'cool',
 'hot']

In [172]:
words[0:2]

['welcome', 'welcome']

In [173]:
words[3:5]

['summer', 'winter']

In [174]:
words

['welcome',
 'welcome',
 'winter',
 'summer',
 'winter',
 'autumn',
 'spring',
 'welcome',
 'cool',
 'hot']

In [175]:
words[-1:]

['hot']

In [181]:
words[:-1]

['welcome',
 'welcome',
 'winter',
 'summer',
 'winter',
 'autumn',
 'spring',
 'welcome',
 'cool']

In [182]:
words[-3:-1]

['welcome', 'cool']

In [183]:
tup1 = (10,10,20,30,40)

In [184]:
type(tup1)

tuple

In [185]:
tup1[0:2]

(10, 10)

In [186]:
newlist = list(tup1)

In [187]:
newlist

[10, 10, 20, 30, 40]

In [188]:
type(newlist)

list

In [190]:
numbers = (1,2,3,5,6)

In [191]:
type(numbers)

tuple

In [192]:
tup = 4, 5, 6

In [193]:
type(tup)

tuple

In [194]:
nested_tup = (4, 5, 6), (7, 8)

In [195]:
type(nested_tup)

tuple

In [196]:
x = tuple([4, 0, 2])

In [197]:
type(x)

tuple

In [199]:
x = tuple([4, 0, 2])

In [200]:
tup1

(10, 10, 20, 30, 40)

In [202]:
xccat = (4, None, 'hello') + (6, 0) + ('world',)

In [203]:
xccat

(4, None, 'hello', 6, 0, 'world')

In [204]:
type(xccat)

tuple

In [205]:
xccat2 = ('fool', 'barbie') * 4

In [206]:
xccat2

('fool', 'barbie', 'fool', 'barbie', 'fool', 'barbie', 'fool', 'barbie')

In [207]:
tup = (1,2,3)

In [208]:
a,b,c = tup

In [209]:
a

1

In [210]:
b

2

In [211]:
c

3

In [212]:
features = ['i need more memory','i need more disk', ' i need storage', 'i need more memory']

In [213]:
type(features)

list

In [214]:
for i in features:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [215]:
features_consolidated = []

In [216]:
features.count('i need more memory')

2

In [219]:
for i in features:
    features_consolidated.extend(i)

In [220]:
features_consolidated

['i need more memory',
 'i need more disk',
 ' i need storage',
 'i need more memory',
 'i',
 ' ',
 'n',
 'e',
 'e',
 'd',
 ' ',
 'm',
 'o',
 'r',
 'e',
 ' ',
 'm',
 'e',
 'm',
 'o',
 'r',
 'y',
 'i',
 ' ',
 'n',
 'e',
 'e',
 'd',
 ' ',
 'm',
 'o',
 'r',
 'e',
 ' ',
 'd',
 'i',
 's',
 'k',
 ' ',
 'i',
 ' ',
 'n',
 'e',
 'e',
 'd',
 ' ',
 's',
 't',
 'o',
 'r',
 'a',
 'g',
 'e',
 'i',
 ' ',
 'n',
 'e',
 'e',
 'd',
 ' ',
 'm',
 'o',
 'r',
 'e',
 ' ',
 'm',
 'e',
 'm',
 'o',
 'r',
 'y']

In [221]:
features = ['i need more memory','i need more disk', ' i need storage', 'i need more memory']

In [222]:
features_consolidated = []

In [223]:
for i in features:
    features_consolidated.extend(i)

In [225]:
features_consolidated.clear()

In [226]:
features_consolidated

[]

In [227]:
tup = ()

In [228]:
type(tup)

tuple

In [229]:
d1 = {'a' : 'some value',
      'b' : [1, 2, 3, 4]}

In [232]:
d1['a']

'some value'

In [233]:
d1['a'] = "welcome"

In [234]:
d1

{'a': 'welcome', 'b': [1, 2, 3, 4]}

In [235]:
'b' in d1

True

In [236]:
d1.keys()

dict_keys(['a', 'b'])

In [237]:
d1.values()

dict_values(['welcome', [1, 2, 3, 4]])

In [240]:
d1['a']

'welcome'

In [241]:
d1['b']

[1, 2, 3, 4]

In [242]:
d1

{'a': 'welcome', 'b': [1, 2, 3, 4]}

In [243]:
f1 = {'help':'world',10:20}

In [244]:
d1.update(f1)

In [245]:
d1

{'a': 'welcome', 'b': [1, 2, 3, 4], 'help': 'world', 10: 20}

In [246]:
d1.pop('a')

'welcome'

In [247]:
d1

{'b': [1, 2, 3, 4], 'help': 'world', 10: 20}

In [248]:
customer = {
    "name":"john",
    "age":"30",
    "is_verified":"True"}

In [249]:
type(customer)

dict

In [251]:
customer.get("name")

'john'

In [252]:
customer["name"]

'john'

In [254]:
customer["address"] = "street 23,blvd 109"

In [255]:
customer

{'name': 'john',
 'age': '30',
 'is_verified': 'True',
 'address': 'street 23,blvd 109'}

In [256]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [257]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [258]:
print(myfamily.get("child3"))

{'name': 'Linus', 'year': 2011}

In [259]:
myfamily["child3"].update({"year":2022})

In [260]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2022}}

In [265]:
myfamily["child1"]["name"]

'Emil'